/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type='search'] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
  margin: 0;
  /* margin-bottom: 216px; */
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type='search'] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('./assets/fonts/roboto-v30-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''), url('./assets/fonts/roboto-v30-latin-100.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./assets/fonts/roboto-v30-latin-100.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./assets/fonts/roboto-v30-latin-100.woff') format('woff'),
    /* Modern Browsers */ url('./assets/fonts/roboto-v30-latin-100.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('./assets/fonts/roboto-v30-latin-100.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/roboto-v30-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''), url('./assets/fonts/roboto-v30-latin-300.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./assets/fonts/roboto-v30-latin-300.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./assets/fonts/roboto-v30-latin-300.woff') format('woff'),
    /* Modern Browsers */ url('./assets/fonts/roboto-v30-latin-300.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('./assets/fonts/roboto-v30-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./assets/fonts/roboto-v30-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./assets/fonts/roboto-v30-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('./assets/fonts/roboto-v30-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('./assets/fonts/roboto-v30-latin-regular.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/roboto-v30-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''), url('./assets/fonts/roboto-v30-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./assets/fonts/roboto-v30-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./assets/fonts/roboto-v30-latin-500.woff') format('woff'),
    /* Modern Browsers */ url('./assets/fonts/roboto-v30-latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('./assets/fonts/roboto-v30-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/roboto-v30-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''), url('./assets/fonts/roboto-v30-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./assets/fonts/roboto-v30-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./assets/fonts/roboto-v30-latin-700.woff') format('woff'),
    /* Modern Browsers */ url('./assets/fonts/roboto-v30-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('./assets/fonts/roboto-v30-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* andika-regular - cyrillic */
@font-face {
  font-family: 'Andika';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/andika-v22-cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/andika-v22-cyrillic-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./assets/fonts/andika-v22-cyrillic-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./assets/fonts/andika-v22-cyrillic-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('./assets/fonts/andika-v22-cyrillic-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('./assets/fonts/andika-v22-cyrillic-regular.svg#Andika')
      format('svg'); /* Legacy iOS */
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}
body {
  font-family: 'Andika', 'Roboto';
  font-style: normal;
  font-weight: 400;
  background: url('/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
.wrapper {
  max-width: 1160px;
  margin: 0 auto;
}
input,
select {
  font-family: 'Andika', 'Roboto';
}

a {
  color: white;
  text-decoration: none;
  transition: all linear 0.3s;
}

a:hover {
  color: #1d9bf0;
}

.form-input {
  background-image: url('/search.svg');
  background-repeat: no-repeat;
  background-size: 24px 28px;
  padding-left: 30px;
  margin-right: 10px;
  width: 400px;
  border-radius: 15px;
  border-color: gray;
  background-color: transparent;
  color: white;
  padding-bottom: 4px;
  transition: all linear 0.3s;
}

.form-input:focus,
.form-input:hover {
  border-color: #1d9bf0;
}

.card {
  position: relative;
  border: 1px solid rgb(199 199 212 / 12%);
  width: 230px;
  height: 450px;
  cursor: pointer;
  transition: all linear 0.3s;
}
.card:hover {
  scale: 1.05;
}
.like-btn {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}

.content {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.form-search {
  display: flex;
  justify-content: center;
  padding: 30px;
  border-bottom: 0.5px solid #c0c0c01f;
  margin-bottom: 10px;
  padding-top: 80px;
}

.header {
  height: 50px;
  text-align: center;
  display: flex;
  gap: 200px;
  justify-content: center;
  align-items: center;
  background-color: #141414;
  margin-bottom: 10px;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.form-btn {
  width: 100px;
  height: 38px;
  background-color: #1d9bf0;
  border: 2px solid transparent;
  border-radius: 2px;
  color: white;
  padding: 0px 5px 2px 5px;
  transition: all linear 0.2s;
}
.form-btn:hover,
.form-btn:active {
  background-color: transparent;
  color: white;
  border: 2px solid #1d9bf0;
}

.home,
.about {
  display: flex;
  justify-content: center;
}

.not-found {
  display: flex;
  justify-content: center;
  padding-top: 38%;
  font-size: 40px;
}

.not-found-span {
  color: #1d9bf0;
}

/*Убрать полосу прокрутки для всей страницы*/
::-webkit-scrollbar {
  width: 0;
}

.title {
  text-align: center;
}
.description,
.genre,
.viewed {
  font-size: 14px;
  margin: 0;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  opacity: 0.6;
  padding-left: 5px;
}
.card-img,
.title {
  margin-bottom: 4px;
}

.header-links {
  display: flex;
  gap: 30px;
}

.current-page-header {
  width: 100px;
}

.form-header {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
input {
  padding-left: 10px;
  margin-right: 10px;
  width: 400px;
  border-radius: 15px;
  border-color: gray;
  background-color: transparent;
  color: white;
  padding-bottom: 4px;
  transition: all linear 0.3s;
}

input:focus,
input:hover {
  border-color: #1d9bf0;
}

input:required {
  border-color: #1df063;
  background-color: transparent;
  color: white;
}
input:invalid {
  border-color: #c00000;
  background-color: transparent;
  color: white;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
span {
  width: 100px;
  padding-right: 150px;
  white-space: nowrap;
}

.genre-select {
  padding-left: 10px;
  margin-right: 10px;
  width: 400px;
  border-radius: 15px;
  border: 2px solid gray;
}

.view-vars {
  display: flex;
  flex-direction: column;
  width: 84px;
}

.view {
  display: flex;
  align-items: center;
  justify-content: center;
}
.view-span {
  padding-right: 333px;
}

.view-radio {
  width: 141px;
}

form {
  position: relative;
}

.form_btn {
  display: flex;
  margin: 20px auto;
  width: 122px;
  height: 37px;
  background-color: #1d9bf0;
  border: 2px solid transparent;
  border-radius: 2px;
  color: white;
  padding: 8px 5px 2px 5px;
  transition: all linear 0.2s;
  margin-bottom: 60px;
}
.form_btn:hover,
.form_btn:active {
  background-color: transparent;
  color: white;
  border: 2px solid #1d9bf0;
}

.error-message {
  position: absolute;
  right: 140px;
  color: red;
}
.error-message-radio {
  position: absolute;
  right: -161px;
  color: red;
}

.message {
  position: absolute;
  font-size: 30px;
  bottom: -40px;
  left: 374px;
  color: rgb(29, 155, 240);
}

select {
  background: transparent;
  color: white;
}

select option {
  background: transparent;
  color: black;
  font-weight: 500;
}

.about-us {
  padding-top: 80px;
  display: flex;
  justify-content: center;
}
